* {
  font-family: 'DM Sans', sans-serif;
  box-sizing: border-box;
}
body {
  background-color: hsl(27, 66%, 92%);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
main {
  width: 65vh;
}
@media (max-width: 700px) {
  main {
    width: 52vh;
    height: 80%;
  }
}